<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="sidebar-item pt-2">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin"
            aria-expanded="false"
          >
            <i class="far fa-clock" aria-hidden="true"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/customer"
            aria-expanded="false"
          >
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="hide-menu">Customer</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/menu"
            aria-expanded="false"
          >
            <i class="fa fa-table" aria-hidden="true"></i>
            <span class="hide-menu">Menu</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/transaction"
            aria-expanded="false"
          >
            <i class="fa fa-font" aria-hidden="true"></i>
            <span class="hide-menu">Transaction</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/cart"
            aria-expanded="false"
          >
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="hide-menu">Cart</span>
          </a>
        </li>

        <li class="text-center p-20 upgrade-btn">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/logout"
            aria-expanded="false"
          >
            Logout</a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
