<div class="table-responsive">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th class="border-top-0">#</th>
        <th class="border-top-0">Fullname</th>
        <th class="border-top-0">Email</th>
        <th class="border-top-0">Phone</th>
        <th class="border-top-0">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Masmudi</td>
        <td>adimasmudi@gmail.com</td>
        <td>085645306450</td>
        <td>
          <a href="#" class="btn btn-dark">Lihat</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
